.ModalWrapper {
  position: fixed !important;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  //pointer-events: none;
}

.Modal {
  z-index: 100000;
  user-select: none;
  padding: 64px 16px 0 16px;
  margin-top: 64px;
  height: 70vh;
  border: 4px solid #e70000;
  background-color: #fff;
  min-width: 24vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: #e70000;
    display: block;
    margin-left: 64px;
    margin-right: 64px
  }

  h1 {
    font-size: 4rem;
  }
}

.Legal {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  a {
    margin: 0;
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.checked + .slider {
  background-color: #e70000;
}

.checked + .slider {
  box-shadow: 0 0 1px #ffffff;
}

.checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



@media(min-width: 1500px) {
  .Modal {
    min-width: 32vw;
  
    h1 {
      font-size: 6rem;
    }
  }
}

@media(max-width: 600px) {
  .Modal {
    min-width: 16vw;
    margin-left: 16px;
    margin-right: 16px;
  }
}
