@import "./varibles.scss";

.aboutContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.aboutContent {
  padding: 128px;
  border: 4px solid $red;
  text-align: center;
  font-family: Fivo Sans Regular, sans-serif;
  line-height: 1.8rem;
}

@media(max-width: 600px) {
  .aboutContent {
  padding: 128px 32px;
  margin: 0 16px;
  border: 4px solid $red;
  text-align: center;
  font-family: Fivo Sans Regular, sans-serif;
  line-height: 1.8rem;
}
}